--
-- PostgreSQL database dump
--

\restrict yYS9qdAPKjRhSltphJsPmvlbIWW49ez87s0oPLutNHTv7xdVb05Ow6eLRJZCWCw

-- Dumped from database version 17.9
-- Dumped by pg_dump version 17.9

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET transaction_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

SET default_tablespace = '';

SET default_table_access_method = heap;

--
-- Name: estados; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.estados (
    id integer NOT NULL,
    nombre text NOT NULL,
    capital text NOT NULL,
    region text,
    clima text,
    platillo_tipico text,
    fiesta_popular text,
    curiosidad text,
    id_geojson text,
    id_inegi text,
    escudo_url text
);


--
-- Name: estados_id_seq; Type: SEQUENCE; Schema: public; Owner: -
--

CREATE SEQUENCE public.estados_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


--
-- Name: estados_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: -
--

ALTER SEQUENCE public.estados_id_seq OWNED BY public.estados.id;


--
-- Name: favoritos; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.favoritos (
    id integer NOT NULL,
    name text NOT NULL,
    capital text,
    currency text,
    continent text,
    population bigint,
    languages text,
    subregion text,
    area double precision,
    flag_url text,
    cca3 text
);


--
-- Name: favoritos_id_seq; Type: SEQUENCE; Schema: public; Owner: -
--

CREATE SEQUENCE public.favoritos_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


--
-- Name: favoritos_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: -
--

ALTER SEQUENCE public.favoritos_id_seq OWNED BY public.favoritos.id;


--
-- Name: poblacion; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.poblacion (
    id integer NOT NULL,
    estado_id integer,
    anio text,
    poblacion bigint
);


--
-- Name: poblacion_id_seq; Type: SEQUENCE; Schema: public; Owner: -
--

CREATE SEQUENCE public.poblacion_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


--
-- Name: poblacion_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: -
--

ALTER SEQUENCE public.poblacion_id_seq OWNED BY public.poblacion.id;


--
-- Name: usuarios; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.usuarios (
    id integer NOT NULL,
    nombre text NOT NULL,
    pin text NOT NULL,
    grado text
);


--
-- Name: usuarios_id_seq; Type: SEQUENCE; Schema: public; Owner: -
--

CREATE SEQUENCE public.usuarios_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


--
-- Name: usuarios_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: -
--

ALTER SEQUENCE public.usuarios_id_seq OWNED BY public.usuarios.id;


--
-- Name: estados id; Type: DEFAULT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.estados ALTER COLUMN id SET DEFAULT nextval('public.estados_id_seq'::regclass);


--
-- Name: favoritos id; Type: DEFAULT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.favoritos ALTER COLUMN id SET DEFAULT nextval('public.favoritos_id_seq'::regclass);


--
-- Name: poblacion id; Type: DEFAULT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.poblacion ALTER COLUMN id SET DEFAULT nextval('public.poblacion_id_seq'::regclass);


--
-- Name: usuarios id; Type: DEFAULT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.usuarios ALTER COLUMN id SET DEFAULT nextval('public.usuarios_id_seq'::regclass);


--
-- Data for Name: estados; Type: TABLE DATA; Schema: public; Owner: -
--

INSERT INTO public.estados VALUES (1, 'Aguascalientes', 'Aguascalientes', 'Centro', 'Templado', 'Guajolote en mole', 'Feria de San Marcos', 'Famosa por su feria', 'MX-AGU', '01', '/static/img/escudos/Aguascalientes.png');
INSERT INTO public.estados VALUES (2, 'Baja California', 'Mexicali', 'Norte', 'Seco', 'Comida china estilo Mexicali', 'Fiestas del Sol', 'Frontera con EE.UU.', 'MX-BCN', '02', '/static/img/escudos/Baja_California.png');
INSERT INTO public.estados VALUES (3, 'Baja California Sur', 'La Paz', 'Norte', 'Seco', 'Almejas chocolatas', 'Carnaval de La Paz', 'Playas turquesa', 'MX-BCS', '03', '/static/img/escudos/Baja_California_Sur.png');


--
-- Data for Name: favoritos; Type: TABLE DATA; Schema: public; Owner: -
--



--
-- Data for Name: poblacion; Type: TABLE DATA; Schema: public; Owner: -
--

INSERT INTO public.poblacion VALUES (1, 24, '2020', 2822255);
INSERT INTO public.poblacion VALUES (2, 8, '2020', 3741869);
INSERT INTO public.poblacion VALUES (3, 19, '2020', 5784442);


--
-- Data for Name: usuarios; Type: TABLE DATA; Schema: public; Owner: -
--

INSERT INTO public.usuarios VALUES (1, 'Adal', '2231', 'primaria_1_3');
INSERT INTO public.usuarios VALUES (2, 'Juan', '2365', 'medio');
INSERT INTO public.usuarios VALUES (3, 'Ela', '12907', 'medio');


--
-- Name: estados_id_seq; Type: SEQUENCE SET; Schema: public; Owner: -
--

SELECT pg_catalog.setval('public.estados_id_seq', 32, true);


--
-- Name: favoritos_id_seq; Type: SEQUENCE SET; Schema: public; Owner: -
--

SELECT pg_catalog.setval('public.favoritos_id_seq', 1, false);


--
-- Name: poblacion_id_seq; Type: SEQUENCE SET; Schema: public; Owner: -
--

SELECT pg_catalog.setval('public.poblacion_id_seq', 65, true);


--
-- Name: usuarios_id_seq; Type: SEQUENCE SET; Schema: public; Owner: -
--

SELECT pg_catalog.setval('public.usuarios_id_seq', 4, true);


--
-- Name: estados estados_id_geojson_key; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.estados
    ADD CONSTRAINT estados_id_geojson_key UNIQUE (id_geojson);


--
-- Name: estados estados_id_inegi_key; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.estados
    ADD CONSTRAINT estados_id_inegi_key UNIQUE (id_inegi);


--
-- Name: estados estados_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.estados
    ADD CONSTRAINT estados_pkey PRIMARY KEY (id);


--
-- Name: favoritos favoritos_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.favoritos
    ADD CONSTRAINT favoritos_pkey PRIMARY KEY (id);


--
-- Name: poblacion poblacion_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.poblacion
    ADD CONSTRAINT poblacion_pkey PRIMARY KEY (id);


--
-- Name: usuarios usuarios_nombre_key; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.usuarios
    ADD CONSTRAINT usuarios_nombre_key UNIQUE (nombre);


--
-- Name: usuarios usuarios_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.usuarios
    ADD CONSTRAINT usuarios_pkey PRIMARY KEY (id);


--
-- Name: poblacion poblacion_estado_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.poblacion
    ADD CONSTRAINT poblacion_estado_id_fkey FOREIGN KEY (estado_id) REFERENCES public.estados(id) ON DELETE CASCADE;


--
-- PostgreSQL database dump complete
--

\unrestrict yYS9qdAPKjRhSltphJsPmvlbIWW49ez87s0oPLutNHTv7xdVb05Ow6eLRJZCWCw

